body {
  background-color: var(--bg-color);
  color: var(--font-color);
  margin: 0px;
  user-select: none;
  -moz-user-select: none;
}

.headline {
  font-family: monospace;
  font-size: 32px;
  color: var(--color-headline);
}

.search {
  color: var(--color-headline);
}

.spaced_top {
  padding-top: 12%;
}

.spaced_switch {
  padding-top: 5px;
}

a {
  display: block;
  margin: .5em 0em;
}

/* label focus color */
 .input-field input:focus + label {
   color: var(--color-input) !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid var(--color-input) !important;
   box-shadow: 0 1px 0 0 var(--color-input) !important;
 }

.select-wrapper input.select-dropdown {
  color: var(--color-headline);
}

.dropdown-content {
     background-color: var(--color-items);
}

ul.dropdown-content.select-dropdown li span {
     color: var(--color-items-text); /* no need for !important :) */
}

/*override materializecss colors*/
.blue-grey.darken-1 {
    background-color:  var(--color-items) !important;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: var(--color-items-text) !important;
}


:root {
   --color-headline: #eceff1;
   --color-items:  #546e7a;
   --color-items-text: orange;
   --color-input: orange;
   --bg-color: #37474f; /*blue-grey darken-3*/
}

[data-theme="light"] {
  --color-headline: #263238; /*blue-grey darken-4*/
  --color-items:  #009688; /*teal*/
  --color-items-text: #e0f2f1; /*teal lighten-5*/
  --color-input: #009688;/*teal*/
  --bg-color: #eceff1; /*blue-grey lighten-5*/
}
